html, body {
    min-height: 100%;
}

body {
    background-image: url(imgs/background.jpg);
    background-repeat: repeat;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0% 20%;
    padding: 10px;
    color: yellow;
}

h1, h2 {
    font-size: 38px;
    margin-top: 10%;
    margin-bottom: 10%;
}

h1 {
    text-decoration: underline;
}

h3 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 23px;
    text-align: left;
    text-decoration: underline;
}

p {
    font-size: 28px;
    text-align: justify;
}

#force-obi-wan {
    max-width: 400px;
    max-height: 200px;
}

#ref {
    text-align: right;
}

#subs {
    font-size: 20px;
}

ul {
    margin-left: 15%;
    margin-right: 15%;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: justify;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 150px;
}

table {
    width: 100%;
    max-width: 800px;
    margin: auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 90%);
    color: black;
    font-size: 20px;
    text-align: center;
}

caption {
    padding: 20px;
    background-color: rgba(255, 255, 255, 90%);
    text-align: center;
    font-size: 20px;
}

th,
td {
    padding: 10px;
    vertical-align: middle;
}

.jedi {
    color: rgb(45, 191, 191);
    text-shadow: 1px 1px lawngreen;
}

.sith {
    color: red;
    text-shadow: 1px 1px orange;
}

a:link {
    color: yellow;
}

a:visited {
    color: rgb(255, 208, 0)
}